# Dependencies 
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs (Hasil compile C++ & Electron)
build/
dist/
out/
*.node
*.o
*.obj
*.exe
*.dll
*.so

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# OS specific files
.DS_Store
Thumbs.db
ehthumbs.db

# Log files
*.log

# Environment variables
.env
.env.local